:root {
  --main:#006d77;
  --submain:#83c5be;
  --gradient:#edf6f9;
  --lightt:rgb(240, 219, 219);
}

body{
  background-color: whitesmoke;
}

/* utilities */

.btn-custom{
  border:1px solid var(--submain);
}
.btn-custom:hover,.btn-custom:active{
  background-color: var(--submain);
}

.tag{
  background: var(--submain);
  width: 6rem;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}


/* Navbar */
.navbar-custom {
  background-color: var(--main) !important;
  font-size: 18px;
  padding-bottom: 2px;
}

.navbar-nav.navbar-center { 
  position: absolute; 
  left: 50%; 
  transform: translatex(-50%); 
} 


.nav-icon{
  font-size: 20px;
  font-weight: bold;
  padding:5px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}


/* Home page */

.card-container{
  padding-left: 20rem;
}


.post-card{
  height: 35em;
  width: 50em;
  margin: 2rem;
  background-image: linear-gradient(to right,#fcdf8a,#f38381);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.521);
}



/* Login Page */

.form-container {
  background: #fff;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
  font-size: 1.1rem;
  border: 2px dashed var(--submain);
  max-width: 600px;
}


.form-container img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.btn-login {
  width: 20%;
  margin-top: -4rem;
}

.rem {
  margin-bottom: 3rem;
}

.register {
  font-size: 0.9rem;
  text-align: center;
}


/* Post Form */

.post-form{
  background: #fff;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
  font-size: 1.1rem;
  border: 2px solid var(--submain);
}

/* Profile */


.media{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.account-img{
  height: 125px;
  width: 125px;
  object-fit:cover;
}


/* Footer */
footer{
  display: flex;
  background-color: var(--main);
  width: 25%;
  border: 1px solid #fff ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
}